<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Socket Chat App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io.js"
    <!-- <script src="../socket.io/socket.io.js"/> -->
  </head>
  <body>
    <h1>Socket Chat App</h1>
    <script>
      const socket = io()
      socket.on('connect', () => {
        console.log('Connected')
      });
      socket.on('message', (data) => {
        console.log(data)
      });

      socket.on('new_chat_message', (data) => {
        console.log(data)
      });

      socket.on('disconnect', () => {
        console.log('Disconnected')
      })

      function sendMessage() {
        const message = document.getElementById('message').value
        const msg = {
          message: message,
          sender: 'client',
          senderId: clientSocket.id
        }
        clientSocket.emit('chat', msg) 
      }
    </script>
  </body>
</html>

